<div fxLayoutAlign="center center" fxFlexFill class="mainContant">
  <mat-card fxFlex=25>
    <mat-toolbar color="warn">Sign In</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="form-class">
      <mat-form-field >
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password">
      </mat-form-field>
      <button mat-raised-button color="warn">Login</button>
    </form>
  </mat-card>
</div>
